
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center; 
}

.clearfix{
    float:none;
    clear:both;
}

.tbl-full{
    width:100%;
}

.tbl-30{
    width: 30%;

}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

/* Buttons */
.btn-primary{
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #3742fa;
}

.btn-secondary{
    background-color: #34495e;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary:hover{
    background-color: #2c3e50;
}

.btn-danger{
    background-color: #95a5a6;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-danger:hover{
    background-color: #7f8c8d;
}
/*ADMIN SUCCESS & ERROR */
.success{
    color: #27ae60;
}

.error{
    color: #c0392b;
}


/* CSS for Menu */
.menu{
    text-align: center;
    border-bottom: 1px solid grey;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold; 
    color: black;
}

.menu ul li a:hover{
    color: black;
}

/*CSS for Update/Edit */
.main-content{ 
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}



/*CSS for footer */
.footer{
    background-color: red;
    color: white;
}

/*CSS for Login */
.login{
    width: 20%;
    border: 1px solid grey;
    margin: 10% auto;
    padding: 2%;
}